{% extends "base.html" %}

{% block title %}
Log 20 | Início
{% endblock %}


{% block content %}

    <!-- CABEÇALHO -->
    <header class="content-header">

        <div class="header-text">
            <h2>Dashboard</h2>
            <p>Visão geral da operação</p>
        </div>

    </header>


    <!-- ÁREA PARA AS FUNCIONALIDADES -->
    <section class="dashboard-content">

        <!--
            Futuramente:

            cards
            tabelas
            ranking
            gráficos
            filtros
            etc.

            serão adicionados aqui conforme
            definirmos as funcionalidades.
        -->

    </section>

{% endblock %}